---
pageable: false
page_classes: front-page header-page
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

%section.page-header
  .row
    %section.col-md-12

      %h2 Your gateway to the open cloud
      %h3 automate, optimize, and control all cloud services


%section.overview
  .row

    %section.col-md-5

      :markdown
        ## Sign up for more details

        We’ll add you to our annoucement mailing list with more
        information as it happens. This text here is to tell you what
        happens, like how we won't spam you and stuff like that. But
        I need the text, so give me text please.

      %form(method="post" action="http://lists.manageiq.org/mailman/subscribe/newsletter")
        %input(name="email")

%section.blog-area
  .row

    %section.col-md-8

      %section.blog-posts

        %h2 From the blog…
        = partial :blog_posts, locals: locals


    %section.col-md-4
      %section.blog-archive
        %h2 Recent posts
        %ol
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Eget porttitor lorem


