---
pageable: false
page_classes: front-page header-page
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

%section.page-header
  .row
    %section.col-md-12

      %h2 Your gateway to the open cloud
      %h3 automate, optimize, and control all cloud services

%section.overview-basic
  .row

    %section.col-md-8

      :markdown
        ## Coming soon

        An open sourced ManageIQ is nearly ready for release! Check back soon (or sign up below) for more details.

        Here are a few highlights of what you can expect:

        * shift workloads between all major cloud platforms — example: optimize for cheapest / geo / performance / platform / scaling preferences
        * works with most popular platforms: AWS, Rackspace, OpenStack, vSphere (VCAC?), RHEV
        * policies (automation / logic) set and manage policies for cloud apps, workloads, and cloud providers
        * complete lifecycle management for all workloads (details, please…)


    %section.col-md-4

      :markdown
        ## Join our annoucement list!

        We’ll add you to our annoucement mailing list with more
        information as it happens. This text here is to tell you what
        happens, like how we won't spam you and stuff like that. But
        I need the text, so give me text please.

      %form(role="form" method="post" class="form-inline" action="http://lists.manageiq.org/mailman/subscribe/newsletter")
        %input(name="email" class="form-control")
        %button(class="btn btn-primary")
          Subscribe!

%section.blog-area
  .row

    %section.col-md-12

      %section.blog-posts

        %h2 From the blog…
        = partial :blog_posts, locals: locals


    -#%section.col-md-4
      %section.blog-archive
        %h2 Recent posts
        %ol
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Eget porttitor lorem


%section.social-area
  :ruby
    social = {
      twitter: "http://twitter.com/ManageIQ",
      facebook: "foo",
      "google-plus" => "foo"
    }

  .row

    %section.col-md-12
      - social.each do |service, url|
        %a{href:url}
          %i{class:"fa fa-#{service}"}
          = "#{service}".titlecase

